.title {
  padding-left: 6vw;
  padding-right: 6vw;
  text-align: left;
}

.company {
  cursor: pointer;
  font-size: 3.2vh;
  text-align: center;
  width: 100%;
  left: 50%;
  right: 50%;
}

.caret {
  font-style: italic;
  text-align: right;
  float: right;
}

.company,
.caret {
  display: inline-block;
  vertical-align: middle;
}

.company:hover {
  /* Add any hover styles here */
}

.job {
  text-align: justify;
  padding-left: 6vw;
  padding-right: 6vw;
  animation-name: reveal;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}


.position {
  font-size: 3vh;
  font-weight: bold;
}



.responsibilities p {
  font-size: 2.5vh;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

.hidden {
  display: none;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Mobile Styles */

@media only screen and (max-width: 600px) {
  .title,
  .job {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .company,
  .position,
  .duration,
  .caret {
    font-size: 2.2vh;
  }

  .position,
  .duration {
    text-align: right;
  }

  .caret {
    float: none;
    text-align: left;
  }

  .responsibilities p {
    font-size: 2vh;
    
  }
}